  <div class="contaner">  
     <div class="row">
       
        <div   > 
         <p> 
              Current events of state, national and international importance. <br> . 
              History of India (with special reference to Maharashtra) and Indian<br> 
              National Movement. <br>
         Maharashtra, India and World Geography - Physical, Social, Economic Geography of<br>
              Maharashtra, India and the World.<br>  </p>
        
           
          
           <!-- <button class="btn btn-primary" (click)=" showSecret= ! showSecret"> Display Details</button>   -->
          <button class="btn btn-primary" (click)="  onToggleDetails()"> Display Details</button>
          <p *ngIf = " showSecret"> Secret Password = Daiva</p>
          <div *ngFor="let logitem of log"
          [ngStyle]="{backgroundColor: logitem >=5?'blue':'transperent'}"
          [ngClass]=" {'white-text':logitem>=5} "> 
            {{logitem}}

          </div>
        </div>  
    </div> 
   </div>  
  
  
  