  <p>data-binding works!</p>
<p>This is the data binding practice page </p>
 
<label>{{count}}</label>&nbsp;,&nbsp;
<label>{{name}}</label>


<p> server with id {{serverId}}  and  {{getserverStatus()}}  </p>
<button [disabled]="!allowNewServer" class btn btn-primary(click)="onCreateServer()"> add name</button>
<div>{{ serverCreationStatus}}</div>  
  

<img [src]="imgUrl" ><br>
<img [src]="imgUrl2">

<div> Two way data binding example: </div>
 
     <div> 
        <input type ="text"[(ngModel)]="serverName ">
     </div>
{{serverName}}