.container{
   background-image: url("D:\Angular\all topic nots\Notes HTMLTopic\extra images\flower background image.webp");
    text-align: center;
    font-style: italic;
    max-width: fit-content;
    font-weight: bold;
border: 5px solid black;
}