<p>jwellery works!</p>
<p>Fashion Atelier <br>
    Brass Jewel Set  (Multicolor) <br>
    ₹2,750 <br>
    i <br>
    Hurry, Only 2 left! <br>
    3.915 ratings and 1 reviews <br>
    Available offers <br>
    
    Partner OfferPurchase now & get a surprise cashback coupon for January / February 2023Know More <br>
    
    Partner OfferSign up for<mark>  Flipkart</mark> Pay Later and get Flipkart Gift Card worth up to ₹500*Know More <br>
    
    Bank Offer10% instant discount on IDFC FIRST Credit Card EMI Trxns, up to ₹3000 on orders of ₹5,000 and aboveT&C <br>
    
    Bank Offer5% Cashback on Flipkart Axis Bank CardT&C</p>
