  <!-- <div class="container md-4">
     <h3 class="text-center"> password validation with simple way in reactive form </h3>  
<form [formGroup]="reactive" (ngSubmit)="onSubmit()">

 
<div class="mb-2">
<label for="fName" class="form-label"> first Name :- </label>
 <input type="text" class="form-control" name="fName" placeholder="fName" formControlName="fName">
  <div *ngIf="submitted && f.fName.errors"> 
    <div class="text-danger" *ngIf="f.fName.errors.required"> first name is required </div> 
</div>
</div>



<div class="mb-2">
    <label for="lName" class="form-label"> Last  Name :- </label>
     <input type="text" class="form-control" name="lName" placeholder="lName" formControlName="lName">
     <div *ngIf="submitted && f.lName.errors"> 
        <div class="text-danger" *ngIf="f.lName.errors.required"> last name is required </div> 
    </div>
    </div>
 
    <div class="mb-2">
        <label for="age" class="form-label">  age :- </label>
         <input type="number" class="form-control" name="age" placeholder="age" formControlName="age">
         <div *ngIf="submitted && f.age.errors"> 
            <div class="text-danger" *ngIf="f.age.errors.required">  age is required </div> 
        </div>
        </div>

        <div class="mb-2">
            <label for="mobile" class="form-label">  Mobile :- </label>
             <input type="number" class="form-control" name="mobile" placeholder="mobile" formControlName="mobile">
             <div *ngIf="submitted && f.mobile.errors"> 
                <div class="text-danger" *ngIf="f.mobile.errors.required">  Mobile number is required </div> 
            </div>
            </div>

            <div class="mb-2">
                <label for="email" class="form-label"> Email :- </label>
                 <input type="email" class="form-control" name="email" placeholder="email"formControlName="email">
                 <div *ngIf="submitted && f.email.errors"> 
                    <div  class="text-danger"*ngIf="f.email.errors.required">  Email is required </div> 
                </div>
                </div>

                <div class="mb-2">
                    <label for="password"class="form-label"> Password:- </label>
                     <input type="password" class="form-control" name="password" placeholder="password" formControlName="password">
                     <div *ngIf="submitted && f.password.errors"> 
                        <div class="text-danger" *ngIf="f.password.errors.required">  password is required </div> 
                    </div>
                    </div>

                    <div class="mb-">
                        <label for="Cpassword" class="form-label"> Conform Password :- </label>
                         <input type="password" class="form-control" name="CPassword" placeholder="conform password" formControlName="CPassword">
                         <div *ngIf="submitted && f.CPassword.errors"> 
                            <div class="text-danger" *ngIf="f.CPassword.errors.required && f.CPassword.touched">  conform password  is required </div> 
                            <div *ngIf="reactive.errors.['passwordMismatchError']">
                                <small class="text-danger">password mismatch </small> </div>
                            </div> 
                        </div>
 
                       

                        <div class="mt-2">
                            <button type="submit" class="btn btn-danger"> Submit</button>
                        </div>
</form>
     
 </div> 
  
 
                        -->