<p>dress works!</p>
<p>Daevish <br>
    Women Maxi Maroon Dress <br>
    Special price <br>
    ₹429₹1,89977% off <br>
    i
    4.223,184 ratings and 2,162 reviews <br>
    Available offers <br>
    
    Special PriceGet at flat ₹429T&C <br>
    
    Bank Offer10% instant discount on IDFC FIRST Credit Card EMI Trxns, up to ₹3000 on orders of ₹5,000 and aboveT&C <br>
    
    Bank Offer5% Cashback on Flipkart Axis Bank CardT&C <br>
    
    Partner OfferPurchase now & get a surprise cashback coupon for January / February 2023Know More <br>
    
    +1 more offer</p>
