 <div class="box1">
    <h3> *ngIf Structural Directives Example</h3>
    <label > Click  Here </label>
    <input type="checkbox" [(ngModel)]="isShow">
    <div *ngIf="isShow "> 
        <div class="box2">
            Structural directives are directives which change the DOM layout by adding and removing DOM elements.<br>
             Angular provides a set of built-in structural directives (such as NgIf , NgForOf , NgSwitch and others) which are commonly used in all Angular projects.<br>
              For more information see Built-in directives.

        </div>

    </div>

 </div>
