 
/* h2{
     background-color: rgb(155, 8, 128);
     
    text-align: center;
    padding-left: 30px;
}
.position{
text-align: center
}; */
h1{
    background-color: rgb(220, 77, 77);
    border: solid 3px black;
}
.assign{
    text-align: center;
    
}

.remove{
    text-align: center;
  
    background-image: url('D:\Angular\all topic nots\Notes HTMLTopic\extra images\blue background 1.jpeg');
    border: solid 5px black;
}
.box2{
    background-image: url("D:\Angular\all topic nots\Notes HTMLTopic\extra images\background image 2.jpeg");
    border: solid whitesmoke 5px;
}
 