<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-attribute></app-attribute> -->
<!-- <div class="position"> 
<h2> structural  Directives Assignment</h2>
<div> <app-assignng-if></app-assignng-if>
  <br>
  <app-assignng-for-directives></app-assignng-for-directives>
  <br>
  <app-assignng-switch></app-assignng-switch>
</div>
</div> -->

  <!-- <app-assign-data-binding  ></app-assign-data-binding>
  -->
  <!-- <app-demo-directives></app-demo-directives> -->
  <!-- <app-ngswitch></app-ngswitch> -->
  <!-- <app-data-binding></app-data-binding> -->
 
    <!-- <img width="150" height="150" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    //<button type="button" class="btn btn-primary">Primary</button>

    -->
<!-- <app-warning></app-warning>
  <app-success-alert></app-success-alert>, -->  
  <!-- <h1 class=demo>
    Welcome to {{ title }}!
  </h1>
  
 
  <app-server></app-server>
  
  
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>





<app-server></app-server>-->
<!-- <div class="position">  -->
   <!-- <app-child [name]="data"></app-child>  -->
<!-- </div> -->
  <!-- <h1> Assignment on @Input  Decorator  </h1> 
  <div *ngFor="let employee of EmployeeRecords"  >
  <app-child2 [employee]="employee"></app-child2>
</div> -->


<!-- <ul *ngFor="let f of foods">
  <li> 
    {{f}}
  </li>
</ul>
 <div>
  <app-parent (foodevent)="getDataFromChild($event)"></app-parent>
 </div> -->


 <!-- <div>
  <app-assign-output (productDetails)="getDtaFromOnput($event)"> </app-assign-output>
 </div> -->
 
 
<!-- <select (change)="uid=sid.value"#sid> 
  <option selected disabled> No value selected </option>
<option [value]=  "id" *ngFor="let id of [1,2,3,4]">
  {{id}}
</option>
</select>
    <app-hooks [userid] ="uid">
      
      <h1> today learn ngafterContentInit </h1>
      <h2>this is child content coming from  parent component </h2>
    <h3> this is me </h3>
    </app-hooks>    -->
  <!-- <div class="assign">     
<app-derevtives-assign></app-derevtives-assign>
</div>  --> 


<!-- <div  class="remove">
  <app-add-remove-assign></app-add-remove-assign>
</div> -->

<!-- <p> ==================================================================</p>
<input type="text" (blur)="submitValue(val)">
<input type="text" placeholder="Input here...." #val>
<button (click)="submitValue(val)">  submit value</button>
<app-life-cycle-hooks [data]="value"> </app-life-cycle-hooks> -->

<!-- <p>==========================================================================</p>
 <app-simpleform></app-simpleform> -->

 <!-- <p> ===========================================================================</p>
 <app-template-driven-assign> </app-template-driven-assign> -->
<!-- <p> ====================================================================================</p>
<div class=" box2"> 
<app-template-driven-form2> </app-template-driven-form2> </div> -->

<!-- <p> ==========================================================</p>
<div class="abc">
  <app-template-form3> </app-template-form3>
</div> -->


<!-- <p> ========================================================================================</p>
<div class="val"> 
<app-validation-template-form></app-validation-template-form>
</div> -->

 <!-- <p>========================================================================</p>
 
  <app-reactiveform></app-reactiveform>
  -->


 <!-- <p>===================================================================================================</p>
 <div> 
 <app-service-comp1></app-service-comp1>
  <app-service-comp2></app-service-comp2>
</div> -->
<!-- <p>============================================</p> -->
<!-- <div class="http"> 
<div>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th> username</th>
        <th>email</th>
        <th>address</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let d of data1 "></tr>
      <td>{{d.id}}</td>
      <td>{{d.name}}</td>
      <td>{{d.username}}</td>
      <td>{{d.email}}</td>
      <td>{{d.address.street}}</td>
    </tbody>
  </table>
</div> -->


<!-- <table class="table table-striped" style=" color: red ; ">
  <thead style="color: black;">
    <tr ><th> SERVER DATA OF 10 USER</th></tr>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>street</th>
      <th>city</th>
      <th>LAT</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let d of array">
      <td>{{d[0].id}}</td>
      <td>{{d[0].name}}</td>
      <td>{{d[0].email}}</td>
      <td>{{d[0].address.street}}</td>
      <td>{{d[0].address.city}}</td>
      <td>{{d[0].address.geo.lat}}</td>


    </tr>
    <tr *ngFor ="let d of array">
      <td>{{d[1].id}}</td>
      <td>{{d[1].name}}</td>
      <td>{{d[1].email}}</td>
      <td>{{d[1].address.street}}</td>
      <td>{{d[1].address.city}}</td>
      <td>{{d[1].address.geo.lat}}</td>


    </tr>
    <tr *ngFor ="let d of array">
      <td>{{d[2].id}}</td>
      <td>{{d[2].name}}</td>
      <td>{{d[2].email}}</td>
      <td>{{d[2].address.street}}</td>
      <td>{{d[2].address.city}}</td>
      <td>{{d[2].address.geo.lat}}</td>


    </tr>
    <tr *ngFor ="let d of array">
      <td>{{d[3].id}}</td>
      <td>{{d[3].name}}</td>
      <td>{{d[3].email}}</td>
      <td>{{d[3].address.street}}</td>
      <td>{{d[3].address.city}}</td>
      <td>{{d[3].address.geo.lat}}</td>


    </tr>
    <tr *ngFor ="let d of array">
      <td>{{d[4].id}}</td>
      <td>{{d[4].name}}</td>
      <td>{{d[4].email}}</td>
      <td>{{d[4].address.street}}</td>
      <td>{{d[4].address.city}}</td>
      <td>{{d[4].address.geo.lat}}</td>


    </tr>
    <tr *ngFor ="let d of array">
      <td>{{d[5].id}}</td>
      <td>{{d[5].name}}</td>
      <td>{{d[5].email}}</td>
      <td>{{d[5].address.street}}</td>
      <td>{{d[5].address.city}}</td>
      <td>{{d[5].address.geo.lat}}</td>


    </tr>
    <tr *ngFor ="let d of array">
      <td>{{d[6].id}}</td>
      <td>{{d[6].name}}</td>
      <td>{{d[6].email}}</td>
      <td>{{d[6].address.street}}</td>
      <td>{{d[6].address.city}}</td>
      <td>{{d[6].address.geo.lat}}</td>


    </tr>
    <tr *ngFor ="let d of array">
      <td>{{d[7].id}}</td>
      <td>{{d[7].name}}</td>
      <td>{{d[7].email}}</td>
      <td>{{d[7].address.street}}</td>
      <td>{{d[7].address.city}}</td>
      <td>{{d[7].address.geo.lat}}</td>


    </tr>
    <tr *ngFor ="let d of array">
      <td>{{d[8].id}}</td>
      <td>{{d[8].name}}</td>
      <td>{{d[8].email}}</td>
      <td>{{d[8].address.street}}</td>
      <td>{{d[8].address.city}}</td>
      <td>{{d[8].address.geo.lat}}</td>


    </tr>
    <tr *ngFor ="let d of array">
      <td>{{d[9].id}}</td>
      <td>{{d[9].name}}</td>
      <td>{{d[9].email}}</td>
      <td>{{d[9].address.street}}</td>
      <td>{{d[9].address.city}}</td>
      <td>{{d[9].address.geo.lat}}</td>


    </tr>

  </tbody>
</table>
</div>   -->

<!-- <p>==========================20.12.2022=Assign=================================</p>
 <div>
  <app-react-project-form></app-react-project-form>
 </div> -->
 <!-- <p>========================21.12.2022===============================================</p>
 <div style="text-align: center;"> 
  <app-comp1></app-comp1>
  <app-comp2></app-comp2>
  <app-comp3></app-comp3>
  <app-comp4></app-comp4>
 </div> -->

 <!-- <div class="app"> 
  <p>=====================21.12.2022 == service Assign============================================</p>
   <app-compa></app-compa>
   <app-compb></app-compb>
 </div> -->

<!-- <p>==================22.12.2022 Pipes========================================</p>
<div style="text-align: center;">

<app-pipes-demo></app-pipes-demo>
</div> -->

<!-- <div>
  <p>===================22.12.2022 pipe assign 1 ==================================================</p>
  <app-pipe-assign1> </app-pipe-assign1>
</div> -->

<!-- <div>
  <p>=================================23.12.2022  filter pipe ============================================================================</p>
  <app-filter-pipe></app-filter-pipe>
</div> -->
<!-- <div style="text-align: center;">
  <p>=====================23.12.2022 Custom/filter pipe Assign ========================================================</p>
  <app-custom-pipe-assign></app-custom-pipe-assign>
  </div> -->

  <!-- <p>===============24.12.2022 Routing learn ========================================</p>
 
<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="home/">Home </a> </li>
      <li class="nav-item"><a class="nav-link"routerLinkActive="active" routerLink="aboutus/">About Us  </a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active"routerLink="product/">  Product  </a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="contactus/"> Contact Us  </a> </li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="demopost/">  DemoPost page  </a> </li>
      <li class="nav-item"><a class="nav-link"  routerLinkActive="active" routerLink="orders/">Orders </a> </li>
    </ul>
  </nav>
</header>
<button (click)="DeletePost"> Delete Post </button>
<router-outlet></router-outlet>   -->
<!-- <p>================delete method ===================</p>
<button (click)="DeletePost"> Delete Post </button>
<app-deletmethod></app-deletmethod> -->
<!-- <p>=========Curd Operation Learn  ======================</p>
<app-rapidapi></app-rapidapi> -->
<!-- <p>=========Curd operation learn 2 ====================</p>
<app-rapidapi2></app-rapidapi2> -->
<!-- <p>=====================26.12.2022 Routing Assignment ==========================================</p>
<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="ahome/">Home Page </a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="aproduct/"> Product Page </a> </li>
      <li class="nav-item"> <a class="nav-link" routerLinkActive="active" routerLink="acontact-us/"> ContactUs Page </a> </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet> -->
 
<!-- <p>==================firebase post method learn 02.01.2023===========================</p>
<app-firebase></app-firebase>
<app-reactiveform></app-reactiveform>

<p>========== rxjs library =====================learn ===03.01.2023================================= </p>
<app-rxjs-comp></app-rxjs-comp> -->

 