.container{
     background-image: url("D:\Angular\all topic nots\Notes HTMLTopic\extra images\flower background image 3.webp");
    text-align: center;
    font-style: italic;
    max-width: fit-content; 
    border :5px solid black
}