<div class="row">
    <div class="col-md-8">
        <div class="card">
            <img class="card-img-top" src="../../assets/images/dress.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Dress</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="dress" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
  
          <div class="card">
            <img class="card-img-top" src="../../assets/images/jwellery.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> Jewellery</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a  routerLink="jwellery"  class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
  
          <div class="card">
            <img class="card-img-top" src="../../assets/images/stationery.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> Stationary</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a  routerLink="stationery"  class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
  
          <div class="card">
            <img class="card-img-top" src="../../assets/images/toys.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Toys</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="toys"  class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
   
