<div class ="box1"> 
<h1><u> *ngFor structural directives example!  </u></h1>
<div>
     <h2> {{tital}} </h2>
</div>
<div>
    <table class="table"> </table>
<thead>
    <tr>
        <th>srNumber </th>
        <th> name</th>
        <th>education </th>
        <th> city</th>
        <th>marks </th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let object of Person">
<td> object.srNumber </td>
<td>object.name </td>
<td>object.education </td>
<td> object.city</td>
<td>object.marks </td>
    </tr>
</tbody>
    
</div>
</div>