 
  <!-- <div class="box1">
    <h1> Assignment on @Input Directives (Array) </h1>
    <div> 
     <table class="table"> 
        <thead>
            <tr> 
                <th>eName </th>
                <th>eCity </th>
                <th>eSalary </th>

            </tr>
        </thead>
        <tbody>
            <tr  >
<td>{{employee.eName }} </td>
<td> {{employee.eCity}}  </td>
<td> {{employee.eSalary}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div> -->
<!-- <div> <h1> Assignment on @Input Directives (Array) </h1></div> -->
<div class="box1">
    
<ul>
    <li> Employee Name :- {{ employee.eName}}</li>
    <li> Employee city:- {{employee.eCity}}</li>
    <li>  Employee salary:-{{employee.eSalary}}</li>
    <li>Employee ID :- {{employee.eId}}</li>
    <li>Employee Company:- {{employee.eCompany}}</li>
  </ul></div>