input.ng-invalid.ng-touched {
    border: 1px solid red;
    
}
.nested{
     background-color: aqua;
     border: 1px dotted ;
     color: black;
}
label{
    font-style: italic;
    font-weight: bolder;
}