 <div class="container">
    <div class="row justify-content-center">
<div class="col md-6 text-left rounded py-5">
    <form [formGroup]="myReactiveAssignForm"(ngSubmit)="onSubmit()"> 
         
<div class="form-group">
     <label>First Name </label>
    <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter First Name">
    <small class="text- black" *ngIf="!myReactiveAssignForm.get('firstName').valid && myReactiveAssignForm.get('firstName').touched"> Please enter user first name maximum 5 char </small>
</div>
<div class="form-group"> 
    <label>Last Name </label>
    <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter Last Name">
    <small class="text-black" *ngIf="!myReactiveAssignForm.get('lastName').valid && myReactiveAssignForm.get('lastName').touched"> Please enter user  last name maximum 10 char </small>
</div>
<div class="form-group">
     <label> User Age </label>
     <input type="number" class="form-control" id="age"formControlName="age" placeholder="Enter user age">
     <small class="text-black" *ngIf="!myReactiveAssignForm.get('age').valid && myReactiveAssignForm.get('age').touched"> Please enter user age bet 17-20 years old </small>

</div>
<div class="form-group">
    <label>User Email</label>
    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter user email">
    <small class="text-black" *ngIf="!myReactiveAssignForm.get('email').valid && myReactiveAssignForm.get('email').touched"> Please enter valid email  </small>

</div>
 
    </form>

</div>
    </div>
 </div>
